<%- include ../partials/header.ejs %>
<link rel="stylesheet" href="stylesheets/jquery-jvectormap-2.0.3.css" type="text/css" media="screen" />
<script src="javascripts/jquery-jvectormap-2.0.3.min.js"></script>
<script src="javascripts/jquery-jvectormap-ch-mill.js"></script>
  <body>
    <div class="text-center">
      <h1 class="display-4"><%= title %></h1>
      <p class="lead">Welcome to the Fatcat <%= title %>
      </p>
    </div>
    <div class="container">
      <%- include cards.ejs %>
      <%- include list.ejs %>
      <%- include map.ejs %>
    </div>
  </body>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/control_index.js"></script>


<%- include ../partials/footer.ejs %>
