
<h2 class="display-5 mb-3">Instrument List</h2>
<p></p>
<table  class="table table-striped table-bordered dt-responsive nowrap pd-0" id="instrument_table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Location</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% instruments.forEach(function(instrument) { %>
        <tr id= "<%= instrument.deviceId %>">
          <th scope="row"><a href="control/<%= instrument.deviceId %>"><%= instrument.deviceId %></a></th>
          <td id="location"><%= instrument.deviceInfo.descriptiveLocation %></td>
          <td><%= instrument.metadata.coordinates[0] %></td>
          <td><%= instrument.metadata.coordinates[1] %></td>
          <td id="<%= instrument.deviceId %>_status_row"></td>
        </tr>
    <% }); %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready( function () {
  $('#instrument_table').DataTable();
} );
</script>
