<h2 class="display-5 mb-3">Instrument List</h2>
<hr>
<table id="instrument_table" class="table table-striped table-bordered nowrap" style="width:100%">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Location</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% instruments.forEach(function(instrument) { %>
        <tr>
          <th scope="row"><a href="control/<%= instrument.deviceId %>"><%= instrument.deviceId %></a></th>
          <td id="location"><%= instrument.deviceInfo.descriptiveLocation %></td>
          <td><%= instrument.metadata.coordinates[0] %></td>
          <td><%= instrument.metadata.coordinates[1] %></td>
          <td id="<%= instrument.deviceId %>_status_row"></td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editInstrumentModal" data-id="<%= instrument.deviceId %>" data-location="<%= instrument.deviceInfo.descriptiveLocation %>" data-lat="<%= instrument.metadata.coordinates[0] %>" data-long="<%= instrument.metadata.coordinates[1] %>">Edit</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item Disconnect" href="#" data-toggle="modal" data-target="#confirmDeleteModal" data-id="<%= instrument.deviceId %>">Delete</a>
              </div>
            </div>
          </td>
        </tr>
    <% }); %>
  </tbody>
</table>
<%- include ../partials/delete.ejs %>
<%- include ../partials/edit.ejs %>
