<%- include ../partials/header.ejs %>
<%- include ../partials/sidebar.ejs %>
<main class="col-lg-9 ml-lg-auto col-lg-10 px-4">
  <div class="text-center">
    <h1 class="display-4"><%= title %></h1>
    <p class="font-weight-light font-italic">*Instrument must be connected to see jobs</p>
  </div>
  <div class="container">
    <table class="table" id="jobs_table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Trigger</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newJob">
      Add new job
    </button>
  </div>
</main>


<div class="modal fade" id="newJob" tabindex="-1" role="dialog" aria-labelledby="newJobLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newJobLabel">Add Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="schedule/add" method="post">
          <div class="form-group input-group mb-3">
            <b><label for="id-text" class="col-form-label pr-3">ID:</label></b>
            <input type="text" name="id" class="form-control" id="id-text" placeholder="Enter ID" required>
          </div>
          <div class="form-group input-group mb-3">
            <b><label for="trigger-text" class="col-form-label pr-3">Trigger:</label></b>
            <select class="custom-select input-group mb-3" id="trigger" name="trigger[]" onchange="trigger_options(this.value)" required>
              <option value="">Choose...</option>
              <option>Date</option>
              <option>Interval</option>
              <option>Cron</option>
            </select>
            <div id="trigger_options">
            </div>
          </div>
          <table class="table" id="action_table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Action Type</th>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <div style="text-align:right">
            <i class="fas fa-plus-circle Connect" onclick="add_action()" ></i>
            <i class="fas fa-minus-circle Disconnect" onclick="remove_action()" ></i>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  var deviceId = "<%= instrument.deviceId %>";
</script>
<script src="/javascripts/control_schedule.js"></script>


<div style="display:none">
  <div class="input-group mb-3 col" id="action_type_selector">
    <select class="custom-select" name="actions[]" required>
      <option value="">Choose...</option>
      <option>Mode</option>
      <option>Module</option>
      <option>Wait</option>
      <option>Analyse</option>
    </select>
  </div>

  <div class="input-group date" id="date_select">
    <input name="date_value" class="form-control" type="datetime-local">
  </div>

  <div id="interval_select" class="input-group">
    <select class="custom-select" name="trigger[]" class='custom-select input-group-append' required>
      <option value="">Choose...</option>
      <option>Seconds</option>
      <option>Minutes</option>
      <option>Hours</option>
      <option>Days</option>
    </select>
    <input type="text" name="trigger[]" class="form-control input-group-append pl-2" id="interval_value" placeholder="Enter Value">
  </div>

  <div id="cron_select">
    <input type="text" name="trigger[]" class="form-control input-group-append pl-2" id="cron_value" placeholder="Enter Cron Value">
  </div>

  <div id="wait_select" class="input-group">
    <select class="custom-select"  class='custom-select input-group-append' required>
      <option value="">Choose...</option>
      <option>Seconds</option>
      <option>Minutes</option>
      <option>Hours</option>
      <option>Days</option>
    </select>
  </div>

  <!-- TODO Dynamic -->
  <div id="mode_select" class="input-group">
    <select class="custom-select"  class='custom-select input-group-append' required>
      <option value="">Choose...</option>
      <option>sampling</option>
      <option>analisis</option>
    </select>
  </div>

  <div id="module_select" class="input-group mb-3 col">
    <select class="custom-select"  class='custom-select input-group-append'>
      <option selected>Choose...</option>
      <% controls.forEach(function(control){ %>
        <option ><%= control %></option>
      <% }); %>
    </select>
  </div>
</div>
