<%- include ../partials/header.ejs %>
<%- include ../partials/sidebar.ejs %>
<body class="bg-light">
<main class="col-lg-9 ml-lg-auto col-lg-10 px-4">
  <div class="text-center">
    <h1 class="display-4"><%= title %></h1>
    <p class="font-weight-light font-italic">*Pending jobs will change status on instrument connect</p>
  </div>
  <hr>
  <div class="container">
    <table class="table font-weight-light table-striped " id="jobs_table">
      <thead>
        <tr>
          <th scope="col">Status</th>
          <th scope="col">ID</th>
          <th scope="col">Trigger</th>
          <th scope="col">Actions</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <button type="button" class="btn btn-success" style="margin-left: 12px;" data-toggle="modal" data-target="#newJob">
      Add new job
    </button>
  </div>
</main>

<div class="modal fade" id="newJob" tabindex="-1" role="dialog" aria-labelledby="newJobLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newJobLabel">Add Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/jobs/add" id="schedule_form" method="post">
          <div class="form-group input-group mb-3">
            <b><label for="id-text" class="col-form-label pr-3">ID:</label></b>
            <input type="text" name="deviceId" value="<%= instrument.deviceId %>" hidden>
            <input type="text" name="jobId" class="form-control" id="jobId" placeholder="Enter ID" required>
          </div>
          <div class="form-group input-group mb-3">
            <b><label for="trigger-text" class="col-form-label pr-3">Trigger:</label></b>
            <select class="custom-select input-group mb-3" id="trigger" name="trigger[]" onchange="trigger_options(this.value)" required>
              <option value="">Choose...</option>
              <option value="date">Date</option>
              <option value="interval">Interval</option>
              <option value="cron">Cron</option>
            </select>
            <div id="trigger_options">
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-4"><b>Action Type</b></div>
              <div class="col-4"><b>Name</b></div>
              <div class="col-4"><b>Value</b></div>
            </div>
            <hr>
          </div>
          <div class="container" id="actions">
          </div>
          <div style="text-align:right">
            <i class="fas fa-plus-circle Connect" onclick="add_row()" ></i>
            <i class="fas fa-minus-circle Disconnect" onclick="remove_row()" ></i>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

</body>

<script type="text/javascript">
  var deviceId = "<%= instrument.deviceId %>";
</script>

<script src="/javascripts/control_schedule.js"></script>

<div style="display:none">

  <div class="input-group date" id="date_select">
    <input name="date_value" class="form-control" type="datetime-local">
  </div>

  <div class="input-group" id="analyse_value">
    <input name="analyse_value" class="form-control" type="number" placeholder="Enter countdown seconds">
  </div>

  <div id="interval_select" class="input-group">
    <select class="custom-select" name="trigger[]" class='custom-select input-group-append' required>
      <option value="">Choose...</option>
      <option value="seconds">Seconds</option>
      <option value="minutes">Minutes</option>
      <option value="hours">Hours</option>
      <option value="days">Days</option>
    </select>
    <input type="text" name="trigger[]" class="form-control input-group-append pl-2" id="interval_value" placeholder="Enter Value">
  </div>

  <div id="cron_select">
    <input type="text" name="trigger[]" class="form-control input-group-append pl-2" id="cron_value" placeholder="Enter Cron Value">
  </div>

</div>
