<%- include ../partials/header.ejs %>

  <body class="pl-4 pr-4">

    <%- include ../partials/sidebar.ejs %>
    <main class="col-lg-9 ml-lg-auto col-lg-10 px-4">

    <div class="row">

      <div class="d-block d-lg-none col-md-3 col-xs-1 pl-1 pr-1">
        <div class="card mb-3 box-shadow">
          <div class="card-header text-center">
            <h5 class="card-title">ID: <%= instrument.deviceId %> </h5>
          </div>
          <div class="card-body">
            <p class="lead">Location:
              <%= instrument.deviceInfo.descriptiveLocation %>
            </p>
            <p class="lead">(
              <%= instrument.metadata.coordinates[0] %>, <%=  instrument.metadata.coordinates[1] %>)</p>
            <h5 class="card-title">Status: <span id='connection_status' class="<%= instrument.connection %> "> <%= instrument.connection %> </span>  </h5>
          </div>
        </div>

        <% if(user.admin){ %>
          <%- include ./controls.ejs %>
        <% } %>

      </div>

      <div class="col-md-9 col-lg-12 col-xs-1 border-left border-right chart-container pl-1 pr-1">
        <hr class="mt-0 mb-1">
        <div id="temp_chart" class="chart"></div>
        <hr class="mt-0 mb-1">
        <div id="co2_chart" class="chart"></div>
        <hr class="mt-0 mb-1">
        <div id="co2_press_chart" class="chart"></div>
        <hr class="mt-0 mb-1">
        <div id="flow_chart" class="chart"></div>
      </div>

    </div>
  </main>

  </body>
  <!-- Graphing library requires D3 -->
  <!-- Load c3.css -->
  <link href="../../c3/c3.css" rel="stylesheet">
  <!-- Load d3.js and c3.js -->
  <script src="../../d3/d3.min.js" charset="utf-8"></script>
  <script src="../../c3/c3.min.js"></script>
  <!--  Load client-side Socket.io -->
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var deviceId = "<%= instrument.deviceId %>";
  </script>
  <script src="/javascripts/control_show.js"></script>
